<div class="col ms-3">Insurance Batch Images Upload</div>

<div class="col"></div>

<div class="col">
  <input
    (change)="onChange($event)"
    class="form-control-file"
    type="file"
    id="formFileMultiple"
    multiple=""
    accept="image/"
    style="height: 40px"
  />
</div>

<div class="col text-end">
  <button [disabled]="selectedFiles.length == 0" type="button" class="btn btn-primary" (click)="onSubmit()">Upload</button>
  <span class="text-danger">{{ fileValidationMessage }}</span>
</div>
