/* salary-generation.component.scss */
input[type='file'] {
  display: none;
}

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: inline;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.note {
  margin-bottom: 15px;
  padding: 4px 12px;
}

.note-danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}

.note-success {
  background-color: #ddffdd;
  border-left: 6px solid #04aa6d;
}

.note-info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196f3;
}

.note-warning {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}

.note-black {
  background-color: #f0f0f0;
  border-left: 6px solid black;
}
