<div>
  <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
    <jhi-header
      [headerName]="!editForm.get('id')!.value ? 'Add New Department' : 'Edit Department'"
      [midHeaderName01]="'Departments'"
      [midRouterLinkText01]="'/department'"
      [shouldHaveHr]="false"
    >
    </jhi-header>

    <div>
      <jhi-alert-error></jhi-alert-error>
      <div class="container-fluid card card-body">
        <div class="row">
          <div class="col-md-6">
            <label class="form-control-label required" for="field_departmentName" jhiTranslate="bitsHrPayrollApp.department.departmentName"
              >Department Name</label
            >
            <input class="form-control" formControlName="departmentName" id="field_departmentName" name="departmentName" type="text" />
            <div
              *ngIf="
                editForm.get('departmentName')!.invalid &&
                (editForm.get('departmentName')!.dirty || editForm.get('departmentName')!.touched)
              "
            >
              <small
                *ngIf="editForm.get('departmentName')?.errors?.required || editForm.get('departmentName')?.errors?.notOnlyWhitespace"
                class="form-text text-danger"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                *ngIf="!editForm.get('departmentName')?.errors?.notOnlyWhitespace && editForm.get('departmentName')?.errors?.minlength"
                [translateValues]="{ min: 1 }"
                class="form-text text-danger"
                jhiTranslate="entity.validation.minlength"
              >
                This field is required to be at least 5 characters.
              </small>
              <small
                *ngIf="!editForm.get('departmentName')?.errors?.notOnlyWhitespace && editForm.get('departmentName')?.errors?.maxlength"
                [translateValues]="{ max: 250 }"
                class="form-text text-danger"
                jhiTranslate="entity.validation.maxlength"
              >
                This field cannot be longer than 25 characters.
              </small>
            </div>
            <div *ngIf="editForm.get('departmentName')!.invalid && (editForm.get('departmentName')!.dirty || editForm.get('departmentName')!.touched)">
              <small class="form-text text-danger" *ngIf="editForm.get('departmentName')?.errors?.pattern">
                This field must be a natural text.
              </small>
            </div>

          </div>

          <div class="col-md-6">
            <label class="required" for="employeeId">Department Head</label>
            <jhi-simple-select-employee-form
              (onChangeEmployee)="changeEmployee($event)"
              [selectedFieldValue]="editForm.get('departmentHeadId')!.value"
            >
            </jhi-simple-select-employee-form>

            <div
              *ngIf="
                editForm.get('departmentHeadId')!.invalid &&
                (editForm.get('departmentHeadId')!.dirty || editForm.get('departmentHeadId')!.touched)
              "
            >
              <small
                *ngIf="editForm.get('departmentHeadId')?.errors?.required"
                class="form-text text-danger"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>
        </div>

        <div>
          <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>

          <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity" type="submit">
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
