<jhi-header
  [headerName]="!editForm.get('id')!.value ? 'Add New Holidays' : 'Edit Holidays'"
  [midHeaderName01]="'Holidays'"
  [midRouterLinkText01]="'/holidays'"
  [shouldHaveHr]="false"
>
</jhi-header>

<div class="d-flex justify-content-center">
  <div class="col-12">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="card card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="">
                <label class="form-label" jhiTranslate="bitsHrPayrollApp.holidays.holidayType" for="field_holidayType">Holiday Type</label>
                <select
                  class="form-control form-select"
                  name="holidayType"
                  formControlName="holidayType"
                  id="field_holidayType"
                  data-cy="holidayType"
                >
                  <!--<option value="Weekly" [disabled]="true">{{ 'bitsHrPayrollApp.HolidayType.Weekly' | translate }}</option>-->
                  <option [defaultSelected]="true" value="Govt">{{ 'bitsHrPayrollApp.HolidayType.Govt' | translate }}</option>
                  <option value="General">{{ 'bitsHrPayrollApp.HolidayType.General' | translate }}</option>
                  <!--<option value="Other" disabled>{{ 'bitsHrPayrollApp.HolidayType.Other' | translate }}</option>-->
                </select>
                <div
                  *ngIf="
                    editForm.get('holidayType')!.invalid && (editForm.get('holidayType')!.dirty || editForm.get('holidayType')!.touched)
                  "
                >
                  <small
                    *ngIf="editForm.get('holidayType')?.errors?.required"
                    class="form-text text-danger"
                    jhiTranslate="entity.validation.required"
                  >
                    This field is required.
                  </small>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="">
                <div class="input-group">
                  <label class="form-label" jhiTranslate="bitsHrPayrollApp.holidays.startDate" for="field_startDate">Start Date</label>
                  <div class="input-group">
                    <input
                      id="field_startDate"
                      data-cy="startDate"
                      type="text"
                      class="form-control"
                      name="startDate"
                      ngbDatepicker
                      #startDateDp="ngbDatepicker"
                      formControlName="startDate"
                      (ngModelChange)="checkDate()"
                    />
                    <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()">
                      <fa-icon icon="calendar-alt"></fa-icon>
                    </button>
                  </div>

                  <div
                    *ngIf="editForm.get('startDate')!.invalid && (editForm.get('startDate')!.dirty || editForm.get('startDate')!.touched)"
                  >
                    <small
                      *ngIf="editForm.get('startDate')?.errors?.required"
                      class="form-text text-danger"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="">
                <label class="form-label" jhiTranslate="bitsHrPayrollApp.holidays.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                  <input
                    id="field_endDate"
                    data-cy="endDate"
                    type="text"
                    class="form-control"
                    name="endDate"
                    ngbDatepicker
                    (ngModelChange)="checkDate()"
                    #endDateDp="ngbDatepicker"
                    formControlName="endDate"
                  />
                  <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                  <div *ngIf="editForm.get('endDate')!.invalid && (editForm.get('endDate')!.dirty || editForm.get('endDate')!.touched)">
                    <small
                      *ngIf="editForm.get('endDate')?.errors?.required"
                      class="form-text text-danger"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                  </div>
                  <div *ngIf="editForm.get('endDate')!.valid && (editForm.get('endDate')!.dirty || editForm.get('endDate')!.touched)">
                    <small *ngIf="isInvalid" class="form-text text-danger"> Start Date can not be greater than end date. </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="my-2 d-flex">
                <input
                  type="checkbox"
                  class="form-check"
                  name="isMoonDependent"
                  id="field_isMoonDependent"
                  data-cy="isMoonDependent"
                  formControlName="isMoonDependent"
                />
                <label class="form-label ms-2 mt-2" jhiTranslate="bitsHrPayrollApp.holidays.isMoonDependent" for="field_isMoonDependent"
                  >Is Moon Dependent</label
                >
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="bitsHrPayrollApp.holidays.description" for="field_description">Description</label>
            <input
              type="text"
              class="form-control"
              name="description"
              id="field_description"
              data-cy="description"
              formControlName="description"
            />
            <div
              *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)"
            >
              <small *ngIf="editForm.get('description')?.errors?.maxlength" class="form-text text-danger">
                This field cannot be longer than 255 characters.
              </small>
              <small *ngIf="editForm.get('description')?.errors?.pattern" class="form-text text-danger">
                This text is invalid
              </small>
            </div>
          </div>

          <div class="mt-3">
            <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              [disabled]="editForm.invalid || isSaving"
              class="btn btn-primary"
            >
              <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
