input.search {
  position: relative;
  vertical-align: top;
  background-color: transparent;
  padding-right: 35px;
}

.magnifier {
  background-color: #ffffff0f;
  border: 0;
  position: relative;
  right: 38px;
}
