<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="aitConfig">
      <h2 data-cy="aitConfigDetailsHeading"><span jhiTranslate="bitsHrPayrollApp.aitConfig.detail.title">Ait Config</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ aitConfig.id }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.aitConfig.startDate">Start Date</span></dt>
        <dd>
          <span>{{ aitConfig.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.aitConfig.endDate">End Date</span></dt>
        <dd>
          <span>{{ aitConfig.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.aitConfig.taxConfig">Tax Config</span></dt>
        <dd>
          <span>
            <pre>
            {{ aitConfig.taxConfig }}
          </pre
            >
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ait-config', aitConfig.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
