<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="taxAcknowledgementReceipt">
      <h2 data-cy="taxAcknowledgementReceiptDetailsHeading">
        <span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.detail.title">Tax Acknowledgement Receipt</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.id }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.tinNumber">Tin Number</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.tinNumber }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.receiptNumber">Receipt Number</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.receiptNumber }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.taxesCircle">Taxes Circle</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.taxesCircle }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.taxesZone">Taxes Zone</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.taxesZone }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.dateOfSubmission">Date Of Submission</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.dateOfSubmission | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.filePath">File Path</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.filePath }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.acknowledgementStatus">Acknowledgement Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'bitsHrPayrollApp.AcknowledgementStatus.' + taxAcknowledgementReceipt.acknowledgementStatus }}">{{
            taxAcknowledgementReceipt.acknowledgementStatus
          }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.receivedAt">Received At</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.receivedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.createdAt">Created At</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.updatedAt">Updated At</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.fiscalYear">Fiscal Year</span></dt>
        <dd>
          <div *ngIf="taxAcknowledgementReceipt.fiscalYear">
            <a [routerLink]="['/ait-config', taxAcknowledgementReceipt.fiscalYear.id, 'view']">{{
              taxAcknowledgementReceipt.fiscalYear.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.employee">Employee</span></dt>
        <dd>
          <div *ngIf="taxAcknowledgementReceipt.employee">
            <a [routerLink]="['/employee', taxAcknowledgementReceipt.employee.id, 'view']">{{ taxAcknowledgementReceipt.employee.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.receivedBy">Received By</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.receivedBy?.login }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.createdBy">Created By</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.createdBy?.login }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.taxAcknowledgementReceipt.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ taxAcknowledgementReceipt.updatedBy?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tax-acknowledgement-receipt', taxAcknowledgementReceipt.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
