<div>
  <div *ngIf="pfLoanApplication" class="font-size-small-08rem">
    <jhi-header [headerName]="'PF Loan Application Details'" [shouldHaveHr]="true"> </jhi-header>

    <jhi-alert-error></jhi-alert-error>

    <dl class="row-md jh-entity-details">
      <div class="row">
        <div class="col-md-2">
          <dt>
            <span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.pfCode">Pf Code</span>
          </dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.pfCode }}</span>
          </dd>
        </div>

        <div class="col-md-2">
          <dt>
            <span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.accHolderName">Acc Holder Name</span>
          </dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.accHolderName }}</span>
          </dd>
        </div>

        <div class="col-md-2">
          <dt>
            <span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.designationName">Designation Name</span>
          </dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.designationName }}</span>
          </dd>
        </div>

        <div class="col-md-2">
          <dt>
            <span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.departmentName">Department Name</span>
          </dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.departmentName }}</span>
          </dd>
        </div>

        <div class="col-md-2">
          <dt>
            <span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.unitName">Unit Name</span>
          </dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.unitName }}</span>
          </dd>
        </div>

        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.accountStatus">Status</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.accountStatus }}</span>
          </dd>
        </div>

        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.installmentAmount">Installment Amount</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.installmentAmount }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.noOfInstallment">No Of Installment</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.noOfInstallment }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.remarks">Remarks</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.remarks }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.isRecommended">Is Recommended</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.isRecommended }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.recommendationDate">Recommendation Date</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.recommendationDate | formatMediumDate }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.isApproved">Is Approved</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.isApproved }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.approvalDate">Approval Date</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.approvalDate | formatMediumDate }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.isRejected">Is Rejected</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.isRejected }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.rejectionReason">Rejection Reason</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.rejectionReason }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.rejectionDate">Rejection Date</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.rejectionDate }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.disbursementDate">Disbursement Date</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.disbursementDate | formatMediumDate }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.disbursementAmount">Disbursement Amount</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span>{{ pfLoanApplication.disbursementAmount }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.status">Status</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <span jhiTranslate="{{ 'bitsHrPayrollApp.Status.' + pfLoanApplication.status }}">{{ pfLoanApplication.status }}</span>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.recommendedBy">Recommended By</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <div *ngIf="pfLoanApplication.recommendedById">
              <a [routerLink]="['/employee', pfLoanApplication.recommendedById, 'view']">{{ pfLoanApplication.recommendedById }}</a>
            </div>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.approvedBy">Approved By</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <div *ngIf="pfLoanApplication.approvedById">
              <a [routerLink]="['/employee', pfLoanApplication.approvedById, 'view']">{{ pfLoanApplication.approvedById }}</a>
            </div>
          </dd>
        </div>
        <div class="col-md-2">
          <dt><span jhiTranslate="bitsHrPayrollApp.pfLoanApplication.rejectedBy">Rejected By</span></dt>
        </div>
        <div class="col-md-2">
          <dd>
            <div *ngIf="pfLoanApplication.rejectedById">
              <a [routerLink]="['/employee', pfLoanApplication.rejectedById, 'view']">{{ pfLoanApplication.rejectedById }}</a>
            </div>
          </dd>
        </div>
      </div>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
    </button>

    <button type="button" [routerLink]="['/pf-loan-application', pfLoanApplication.id, 'edit']" class="btn btn-primary">
      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
    </button>
  </div>
</div>
