<div class="container">
  <div>
    <span class="d-block mb-4 pb-3">Date:</span>
    <span>To,</span>
    <div>The Board of Trustees</div>
    <div>PF, GF & HAF Committee, {{ organizationFullName }}</div>
    <div>Road-5, House-115, Block-B, Niketan Society</div>
    <div>Gulshan, Dhaka-1212, Bangladesh</div>
  </div>

  <div class="my-4 py-2">Subject: Application for Loan from own contribution of Provident Fund</div>

  <div class="my-4 pb-3">Dear Sir/Madam</div>

  <span class="text-justify d-block">
    I am writing to inform you that, I am Mr./Ms ___ (PIN:_____________) is an employee of {{ organizationFullName }}, working in biTS from
    _______________________. Currently, I need a loan for _______________________ purpose. At this moment, my total own PF contribution is
    Tk _______________________. If I get a loan of Tk _______________________ from my PF contribution then, it will be easy for me to meet
    my financial crisis. Please deduct Tk _______________________ from my monthly salary as loan repayment from the month of
    _______________________ which will be repayable within _______________________ months.
  </span>

  <div class="text-justify my-4">
    In this regard, I am requesting to approve the loan from my PF contribution. Please issue the check the cheque or transfer to –
  </div>

  <div class="fw-bold">BRAC Bank A/C Name:</div>

  <div class="fw-bold">BRAC Bank A/C No:</div>

  <div class="my-5">With Regards</div>

  <div>___________</div>

  <div>
    <div>Name:</div>
    <div>PIN:</div>
    <div>Designation:</div>
    <div>{{ organizationFullName }}</div>
  </div>
</div>
