<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="arrearSalary">
      <h2 data-cy="arrearSalaryDetailsHeading"><span jhiTranslate="bitsHrPayrollApp.arrearSalary.detail.title">Arrear Salary</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ arrearSalary.id }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.arrearSalary.month">Month</span></dt>
        <dd>
          <span jhiTranslate="{{ 'bitsHrPayrollApp.Month.' + arrearSalary.month }}">{{ arrearSalary.month }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.arrearSalary.year">Year</span></dt>
        <dd>
          <span>{{ arrearSalary.year }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.arrearSalary.amount">Amount</span></dt>
        <dd>
          <span>{{ arrearSalary.amount }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.arrearSalary.arrearType">Arrear Type</span></dt>
        <dd>
          <span>{{ arrearSalary.arrearType }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.arrearSalary.employee">Employee</span></dt>
        <dd>
          <div *ngIf="arrearSalary.employee">
            <a [routerLink]="['/employee', arrearSalary.employee.id, 'view']">{{ arrearSalary.employee.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/arrear-salary', arrearSalary.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
