<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="manualAttendanceEntry">
      <h2>
        <span jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.detail.title">Manual Attendance Entry</span>
        {{ manualAttendanceEntry.id }}
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.date">Date</span></dt>
        <dd>
          <span>{{ manualAttendanceEntry.date }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.inTime">In Time</span></dt>
        <dd>
          <span>{{ manualAttendanceEntry.inTime }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.inNote">In Note</span></dt>
        <dd>
          <span>{{ manualAttendanceEntry.inNote }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.outTime">Out Time</span></dt>
        <dd>
          <span>{{ manualAttendanceEntry.outTime }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.outNote">Out Note</span></dt>
        <dd>
          <span>{{ manualAttendanceEntry.outNote }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.isLineManagerApproved">Is Line Manager Approved</span></dt>
        <dd>
          <span>{{ manualAttendanceEntry.isLineManagerApproved }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.isHRApproved">Is HR Approved</span></dt>
        <dd>
          <span>{{ manualAttendanceEntry.isHRApproved }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.isRejected">Is Rejected</span></dt>
        <dd>
          <span>{{ manualAttendanceEntry.isRejected }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.rejectionComment">Rejection Comment</span></dt>
        <dd>
          <span>{{ manualAttendanceEntry.rejectionComment }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.employee">Employee</span></dt>
        <dd>
          <div *ngIf="manualAttendanceEntry.employeeId">
            <a [routerLink]="['/employee', manualAttendanceEntry.employeeId, 'view']">{{ manualAttendanceEntry.fullName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/manual-attendance-entry', manualAttendanceEntry.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
