<jhi-header
  [headerName]="!editForm.get('id')!.value ? 'Attendance Entry' : 'Edit Attendance Entry'"
  [midHeaderName01]="'Attendance Time Sheet'"
  [midRouterLinkText01]="'/attendance-time-sheet'"
  [shouldHaveHr]="false"
>
</jhi-header>
<div>
  <form name="editForm" role="form" novalidate (ngSubmit)="submit()" [formGroup]="editForm" [hidden]="!editForm.get('date')!.value">
    <div>
      <jhi-alert-error></jhi-alert-error>
      <div class="card-body border-none box-shadow py-1">
        <div class="row">
          <div class="col-md-12">
            <div class="">
              <label class="form-control-label"
                >Date:
                <span class="ms-1">
                  <strong>
                    {{ editForm.get('date')!.value | formatMediumDate }}
                  </strong>
                </span>
              </label>
            </div>
          </div>

          <div class="col-md-3">
            <div class="">
              <label class="form-control-label required" jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.inTime" for="field_inTime"
                >In Time</label
              >
              <div class="d-flex">
                <input
                  id="field_inTime"
                  type="time"
                  class="form-control"
                  name="inTime"
                  formControlName="inTime"
                  (ngModelChange)="checkTime()"
                  (change)="findAnyConflict()"
                  placeholder="YYYY-MM-DD HH:mm"
                />
              </div>
              <div *ngIf="editForm.get('inTime')!.invalid && (editForm.get('inTime')!.dirty || editForm.get('inTime')!.touched)">
                <small
                  *ngIf="editForm.get('inTime')?.errors?.required"
                  class="form-text text-danger"
                  jhiTranslate="entity.validation.required"
                >
                  This field is required.
                </small>
              </div>
              <small *ngIf="hasAnyConflict" class="text-danger">{{ conflictMessage }}</small>
            </div>
          </div>

          <div class="col-md-3">
            <div class="">
              <label
                class="form-control-label"
                [ngClass]="isCurrentDateSelected ? '' : 'required'"
                jhiTranslate="bitsHrPayrollApp.manualAttendanceEntry.outTime"
                for="field_outTime"
                >Out Time</label
              >
              <div class="d-flex">
                <input
                  id="field_outTime"
                  type="time"
                  class="form-control"
                  name="outTime"
                  formControlName="outTime"
                  (ngModelChange)="checkTime()"
                  (change)="findAnyConflict()"
                  placeholder="YYYY-MM-DD HH:mm"
                />
              </div>

              <div *ngIf="editForm.get('outTime')!.invalid && (editForm.get('outTime')!.dirty || editForm.get('outTime')!.touched)">
                <small
                  *ngIf="editForm.get('outTime')?.errors?.required"
                  class="form-text text-danger"
                  jhiTranslate="entity.validation.required"
                >
                  This field is required.
                </small>
              </div>
              <div>
                <small class="form-text text-danger" *ngIf="isInvalid === true"> In time can not be greater than out time. </small>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="">
              <label class="form-control-label required" for="field_note">Remarks</label>
              <input type="text" class="form-control" name="note" id="field_note" formControlName="note" />
            </div>
            <div *ngIf="editForm.get('note')!.invalid && (editForm.get('note')!.dirty || editForm.get('note')!.touched)">
              <small *ngIf="editForm.get('note')?.errors?.required" class="form-text text-danger" jhiTranslate="entity.validation.required">
                This field is required.
              </small>
              <small class="form-text text-danger" *ngIf="editForm.get('note')?.errors?.maxlength">
                This field cannot be longer than 250 characters.
              </small>
            </div>
          </div>
        </div>

        <div class="mt-2">
          <button
            type="submit"
            id="save-entity"
            [disabled]="editForm.invalid || isSaving || isInvalid || hasAnyConflict"
            class="btn btn-primary px-md-2"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;
            <ng-container *ngIf="isEditing">Update</ng-container>
            <ng-container *ngIf="!isEditing">Apply</ng-container>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="attendance-applications" class="mt-3">
  <div class="table-responsive" id="entities" *ngIf="manualAttendanceEntries && manualAttendanceEntries.length > 0">
    <table class="table table-hover list-text-color" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col"><span>Date</span></th>
          <th scope="col"><span>In Time</span></th>
          <th scope="col"><span>Out Time</span></th>
          <th scope="col">Remarks</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadManualAttendanceEntries(page + 1)"
        [infiniteScrollDisabled]="page >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let entry of manualAttendanceEntries; trackBy: trackId">
          <td class="w-10">
            <span
              *ngIf="!entry.isLineManagerApproved && !entry.isHRApproved && !entry.isRejected"
              class="px-md-2 text-secondary"
              data-placement="top"
              data-toggle="tooltip"
            >
              Pending
            </span>

            <span
              *ngIf="entry.isLineManagerApproved || entry.isHRApproved"
              class="px-md-2 text-success"
              data-placement="top"
              data-toggle="tooltip"
              ngbTooltip="Approved"
            >
              <fa-icon icon="check"></fa-icon>
            </span>

            <span *ngIf="entry.isRejected" class="px-md-2 text-danger" data-placement="top" data-toggle="tooltip" ngbTooltip="Not Approved">
              <fa-icon icon="times"></fa-icon>
            </span>
          </td>

          <td class="w-10">{{ entry.date | formatMediumDate }}</td>

          <td class="w-10">{{ entry.inTime | formatTime }}</td>

          <td class="w-10">{{ entry.outTime | formatTime }}</td>

          <td class="w-60">
            <span [ngbTooltip]="entry.note && entry.note.toString().length >= 100 ? entry.note : ''">
              {{ textSlicing(entry.note) }}
            </span>
          </td>

          <td class="w-10 text-end">
            <div class="btn-group">
              <ng-container *ngIf="!entry.isLineManagerApproved && !entry.isHRApproved && !entry.isRejected">
                <button (click)="convertToMomentForUpdate(entry)" type="submit" class="btn btn-primary btn-sm px-md-3">
                  <fa-icon icon="pencil-alt"></fa-icon>
                </button>

                <button type="submit" (click)="delete(entry)" class="btn btn-danger btn-sm px-md-3">
                  <fa-icon icon="times"></fa-icon>
                </button>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
