<div>
  <jhi-header *ngIf="pageType === 'hr'" [headerName]="'Work From Home Approvals - Admin'" [shouldHaveHr]="false"> </jhi-header>

  <div class="">
    <div class="row mb-4" [formGroup]="searchForm">
      <div class="col-md-4">
        <jhi-search-text-box
          (searchEvent)="setSearchText($event)"
          [placeHolderText]="'Search'"
          [searchBoxSize]="'18rem'"
          formcontrolname="searchTxt"
          name="searchTxt"
          [suggestionList]="getEmployeeNameList(employeeList)"
        >
        </jhi-search-text-box>
      </div>

      <div class="col-md-8 row d-flex align-items-center mx-0 px-0">
        <div class="col-md-3 form-check d-flex">
          <input
            class="form-check-input"
            id="formSelect"
            value="pending"
            [checked]="approvalType === 'pending'"
            (change)="filterByApprovalType('pending')"
            type="radio"
          />
          <label class="form-check-label ms-2" style="margin-top: 1px" for="formSelect">Pending Requests</label>
        </div>
        <div class="col-md-3 form-check d-flex">
          <input
            class="form-check-input"
            id="all"
            [value]="''"
            [checked]="approvalType === 'all'"
            (change)="filterByApprovalType('all')"
            type="radio"
          />
          <label class="form-check-label ms-2" style="margin-top: 1px" for="all">All</label>
        </div>
        <div class="col-md-6">
          <select
            class="form-control form-select"
            style="width: 300px; float: right"
            [hidden]="approvalType === 'pending'"
            formControlName="selectStatusType"
            name="selectStatusType"
            (change)="filterByApprovalType($event)"
          >
            <option [value]="null">Select Status</option>
            <option [value]="'Active'">Active ({{ this.activeEmployees }})</option>
            <option [value]="'Inactive'">In-Active ({{ this.inActiveEmployees }})</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>
</div>

<div class="" *ngIf="workFromHomeApplicationList.length > 0">
  <table class="table table-hover list-text-color" data-name="employee-details-table" aria-describedby="page-heading">
    <thead>
      <tr class="text-nowrap">
        <th scope="col" class="w-5 batch-selection-approval" [hidden]="approvalType === 'all'">
          <span>
            <input class="form-check-input" type="checkbox" [value]="-1" [(ngModel)]="allSelector" (change)="onChange($event)" />
          </span>
        </th>
        <th scope="col"></th>
        <th scope="col"><span>PIN</span></th>
        <th scope="col"><span>Name</span></th>
        <th scope="col"><span>Designation</span></th>
        <th scope="col" [hidden]="approvalType === 'all'"><span>Start Date</span></th>
        <th scope="col" [hidden]="approvalType === 'all'"><span>End Date</span></th>
        <th scope="col" class="text-end" [hidden]="approvalType === 'all'"><span>Duration</span></th>
        <th scope="col" class="text-center"><span container="body" ngbTooltip="Work From Home Status">WFH Status</span></th>
        <th scope="col" class="text-end" [hidden]="approvalType === 'all'">
          <div class="d-inline" *ngIf="workFromHomeApplicationList.length > 0">
            <div class="d-inline" ngbTooltip="Enable">
              <button class="btn btn-success btn-sm" [disabled]="approvalDTO!.listOfIds!.length < 1" (click)="approveSelected()">
                <fa-icon [icon]="['fas', 'check']"></fa-icon>
              </button>
            </div>

            <div class="d-inline" ngbTooltip="Disable">
              <button
                class="btn btn-danger btn-sm"
                [hidden]="approvalType === 'all'"
                [disabled]="approvalDTO!.listOfIds!.length < 1"
                (click)="rejectSelected()"
              >
                <fa-icon [icon]="['fas', 'times']"></fa-icon>
              </button>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
      <tr class="text-nowrap" *ngFor="let wfh of workFromHomeApplicationList; trackBy: trackId">
        <td class="batch-selection-approval" [hidden]="approvalType === 'all'">
          <input class="form-check-input" type="checkbox" [value]="wfh.id" [checked]="wfh.isChecked" (change)="onChange($event)" />
        </td>
        <td *ngIf="wfh.pin !== undefined" class="td-th-employee-img">
          <img class="card-img-top" [src]="getProfilePicture(wfh.pin)" alt="profile Picture" />
        </td>
        <td>
          {{ wfh.pin }}
        </td>

        <td>
          {{ wfh.fullName }}
        </td>

        <td>
          {{ wfh.designationName }}
        </td>

        <td [hidden]="approvalType === 'all'">
          {{ wfh.startDate }}
        </td>

        <td [hidden]="approvalType === 'all'">
          {{ wfh.endDate }}
        </td>

        <td class="text-end" [hidden]="approvalType === 'all'">
          <span *ngIf="wfh.duration! > 1; else day">{{ wfh.duration }} days</span>
          <ng-template #day
            ><span>{{ wfh.duration }} day</span></ng-template
          >
        </td>

        <td class="text-center">
          <span
            *ngIf="wfh.isAllowedToGiveOnlineAttendance === null || wfh.isAllowedToGiveOnlineAttendance === false"
            class="h5 text-secondary"
            data-placement="top"
            data-toggle="tooltip"
            [ngbTooltip]="wfh.approvedStartDate !== null ? onlineStatus : 'Disabled'"
          >
            <fa-icon icon="ban" style="color: grey; font-size: 0.8rem"></fa-icon>
          </span>

          <ng-template #onlineStatus>
            <span
              *ngIf="wfh.approvedStartDate !== null && wfh.approvedStartDate !== undefined"
              class="font-sm text-nowrap"
              data-placement="top"
              data-toggle="tooltip"
            >
              WFH will be enabled from <br />{{ wfh.approvedStartDate }}
            </span>
          </ng-template>
          <span
            *ngIf="wfh.isAllowedToGiveOnlineAttendance === true"
            class="h5 text-success"
            data-placement="top"
            data-toggle="tooltip"
            ngbTooltip="Enabled"
          >
            <fa-icon icon="check-circle" style="color: #51e951; font-size: 0.8rem"></fa-icon>
          </span>
        </td>

        <td class="text-end" *ngIf="wfh.status === 'PENDING'">
          <div class="btn d-inline">
            <span *ngIf="wfh.status === 'PENDING'">
              <button
                (click)="openWorkFromApplicationDetails(wfh)"
                class="btn btn-info btn-sm mb-2 px-2"
                data-placement="top"
                data-toggle="tooltip"
                title="View"
                type="submit"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="workFromHomeApplicationList.length === 0">
  <div class="text-center d-flex align-items-center justify-content-center" style="height: 75vh">
    <img src="../../../content/images/home-office.svg" width="400px" height="400px" />
  </div>
</div>
