<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <title> Leave Auto Sanction Mail --nc </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>

<body>

<span>
    Dear [[${name}]],
</span>

<p>
    Please be informed that according to your attendance record at [[${absentDayList}]] day(s), you were absent.
    Your [[${casualLeaveCut}]] days(s) of leave has been adjusted from your [[${casualLeave}]] balance.
</p>

<p>
    For any queries, please communicate with [[${hrName}]], [[${hrDesignation}]] (for any leave adjustment through the
    system)
</p>

</body>

<footer>
    <h4 style="text-align: center">This is system generated email. Please do not reply.</h4>
</footer>
</html>
