.th-bloodgroup {
  white-space: nowrap;
}

[data-name='blood-bank-table'] .td-th-employee {
  width: 30px !important;
  padding-top: 2px !important;
  padding-bottom: 0 !important;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.table th,
.table td {
  color: #132c58ba;
}
