<form *ngIf="employeeSalaryTempData" name="deleteForm" (ngSubmit)="confirmDelete(employeeSalaryTempData.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="employeeSalaryTempDataDeleteDialogHeading" jhiTranslate="entity.delete.title">
      Confirm delete operation
    </h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p
      id="jhi-delete-employeeSalaryTempData-heading"
      jhiTranslate="bitsHrPayrollApp.employeeSalaryTempData.delete.question"
      [translateValues]="{ id: employeeSalaryTempData.id }"
    >
      Are you sure you want to delete Employee Salary Temp Data {{ employeeSalaryTempData.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="jhi-confirm-delete-employeeSalaryTempData" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
