<div class="modal-header border-none">
  <h4 class="modal-title"></h4>
  <button
    type="button"
    class="btn-close py-1 outline-none"
    data-dismiss="modal"
    aria-hidden="true"
    (click)="commonService.dismiss()"
  ></button>
</div>

<div class="modal-body dashboard-modal">
  <div class="container">
    <div class="dashboard row">
      <div
        class="card p-1 btn color-ash col mx-1 mt-0 mb-1 border-none box-shadow"
        [ngClass]="isValidUserPfStatement ? 'col-active' : 'disabled'"
        (click)="routeToPfStatement()"
      >
        <img class="svg-image-size-mid mx-auto dashboard-svg-icon" src="../../../content/images/svg/pf-statement.svg" />

        <div class="card-body pt-0 pb-2 px-0">
          <div class="card-title text-center mb-0 font-sm">PF Statement</div>
        </div>
      </div>

      <div
        class="card p-1 btn color-ash col mx-1 mt-0 mb-1 border-none box-shadow"
        [ngClass]="isValidUserForTaxStatement ? 'col-active' : 'disabled'"
        (click)="routeToTaxStatement()"
      >
        <img class="svg-image-size-mid mx-auto dashboard-svg-icon" src="../../../content/images/svg/tax-statement.svg" />

        <div class="card-body pt-0 pb-2 px-0">
          <div class="card-title text-center mb-0 font-sm">Tax Statement</div>
        </div>
      </div>
      <div
        class="card p-1 btn color-ash col col-active mx-1 mt-0 mb-1 border-none box-shadow"
        (click)="checkValidityTaxAcknowledgementReceipt()"
      >
        <img class="svg-image-size-mid mx-auto dashboard-svg-icon" src="../../../content/images/svg/tax-statement.svg" />

        <div class="card-body pt-0 pb-2 px-0">
          <div class="card-title text-center mb-0 font-sm">Tax Acknowledgement Receipt Submit</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer p-3 border-none">
  <!--<button type="button" class="btn btn-sm btn-outline-dark" (click)="commonService.close()">Close</button>-->
</div>
