.insurance-claim-button {
  background: #132c588f !important;
  border: none !important;
  color: #fff !important;
  font-weight: 500 !important;
  border-radius: 20px !important;
  font-size: 0.7rem;
  padding: 0 10px;
}

.insurance-claim-button:focus {
  outline: none;
}

.insurance-registration-view-button {
  margin: 0 1px;
  border: 0;
  height: 28px;
  width: 28px;
  border: 1px solid #387885c7;
  border-radius: 5px !important;
  color: #fff;
  background: #387885c7;
}

.insurance-registration-edit-button {
  margin: 0 1px;
  border: 0;
  height: 28px;
  width: 28px;
  border: 1px solid #4f6b85cf;
  border-radius: 5px !important;
  color: #fff;
  background: #4f6b85cf;
}

.insurance-registration-delete-button {
  margin: 0 1px;
  border: 0;
  height: 28px;
  width: 28px;
  border: 1px solid #f25d5ade;
  border-radius: 5px !important;
  color: #fff;
  background: #f25d5ade;
}

.insurance-registration-view-button:hover {
  background: #26616cc7;
}
.insurance-registration-view-button:focus {
  outline: none;
}

.insurance-registration-edit-button:hover {
  background: #314c66cf;
}
.insurance-registration-edit-button:focus {
  outline: none;
}

.insurance-registration-delete-button:hover {
  background: #d54542de;
}
.insurance-registration-delete-button:focus {
  outline: none;
}
