<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="holdSalaryDisbursement">
      <h2 data-cy="holdSalaryDisbursementDetailsHeading">
        <span jhiTranslate="bitsHrPayrollApp.holdSalaryDisbursement.detail.title">Hold Salary Disbursement</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ holdSalaryDisbursement.id }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.holdSalaryDisbursement.date">Date</span></dt>
        <dd>
          <span>{{ holdSalaryDisbursement.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.holdSalaryDisbursement.user">User</span></dt>
        <dd>
          <span>{{ holdSalaryDisbursement.userId }}</span>
        </dd>
        <dt><span jhiTranslate="bitsHrPayrollApp.holdSalaryDisbursement.employeeSalary">Employee Salary</span></dt>
        <dd>
          <div *ngIf="holdSalaryDisbursement.employeeSalaryId">
            <a [routerLink]="['/employee-salary', holdSalaryDisbursement.employeeSalaryId, 'view']">{{
              holdSalaryDisbursement.employeeSalaryId
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/hold-salary-disbursement', holdSalaryDisbursement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
