<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <!--    done    -->
    <!--    cc: hr + line manager-->
    <title> Flex Schedule </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<span>
    Dear [[${name}]],
</span>
<p>
    Please be informed that as per your request,
    Your office time has been changed as [[${officeStartTime}]]-[[${officeEndTime}]].
    Please follow accordingly.
</p>
</body>

<footer>
    <h4 style="text-align: center">This is system generated email. Please do not reply.</h4>
</footer>
</html>

