<div>
  <h2 id="page-heading" data-cy="AttendanceSyncCacheHeading">
    <span jhiTranslate="bitsHrPayrollApp.attendanceSyncCache.home.title">Attendance Sync Caches</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bitsHrPayrollApp.attendanceSyncCache.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-attendance-sync-cache"
        [routerLink]="['/attendance-sync-cache/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bitsHrPayrollApp.attendanceSyncCache.home.createLabel"> Create a new Attendance Sync Cache </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="attendanceSyncCaches?.length === 0">
    <span jhiTranslate="bitsHrPayrollApp.attendanceSyncCache.home.notFound">No Attendance Sync Caches found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="attendanceSyncCaches && attendanceSyncCaches.length > 0">
    <table class="table table-hover list-text-color" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <!-- <fa-icon class="p-1" icon="sort"></fa-icon> -->
            </div>
          </th>
          <th scope="col" jhiSortBy="employeePin">
            <div class="d-flex">
              <span jhiTranslate="bitsHrPayrollApp.attendanceSyncCache.employeePin">Employee Pin</span>
              <!-- <fa-icon class="p-1" icon="sort"></fa-icon> -->
            </div>
          </th>
          <th scope="col" jhiSortBy="timestamp">
            <div class="d-flex">
              <span jhiTranslate="bitsHrPayrollApp.attendanceSyncCache.timestamp">Timestamp</span>
              <!-- <fa-icon class="p-1" icon="sort"></fa-icon> -->
            </div>
          </th>
          <th scope="col" jhiSortBy="terminal">
            <div class="d-flex">
              <span jhiTranslate="bitsHrPayrollApp.attendanceSyncCache.terminal">Terminal</span>
              <!-- <fa-icon class="p-1" icon="sort"></fa-icon> -->
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let attendanceSyncCache of attendanceSyncCaches; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/attendance-sync-cache', attendanceSyncCache.id, 'view']">{{ attendanceSyncCache.id }}</a>
          </td>
          <td>{{ attendanceSyncCache.employeePin }}</td>
          <td>{{ attendanceSyncCache.timestamp | formatMediumDatetime }}</td>
          <td>{{ attendanceSyncCache.terminal }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/attendance-sync-cache', attendanceSyncCache.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/attendance-sync-cache', attendanceSyncCache.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(attendanceSyncCache)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
