<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <!--    done    -->
    <title> Application for Employment Certificate </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<span>
    Dear [[${recipientName}]],
</span>
<p>
    Your employment certificate has been processed. Please collect your employment certificate from the HR department.
</p>
</body>

<footer>
    <h4 style="text-align: center">This is system generated email. Please do not reply.</h4>
</footer>
</html>
