<div>
  <h2 id="page-heading" data-cy="FestivalBonusDetailsHeading">
    <span jhiTranslate="bitsHrPayrollApp.festivalBonusDetails.home.title">Festival Bonus Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bitsHrPayrollApp.festivalBonusDetails.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-festival-bonus-details"
        [routerLink]="['/festival-bonus-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bitsHrPayrollApp.festivalBonusDetails.home.createLabel"> Create a new Festival Bonus Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="festivalBonusDetails?.length === 0">
    <span jhiTranslate="bitsHrPayrollApp.festivalBonusDetails.home.notFound">No Festival Bonus Details found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="festivalBonusDetails && festivalBonusDetails.length > 0">
    <table class="table table-hover list-text-color" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <!-- <fa-icon class="p-1" icon="sort"></fa-icon> -->
            </div>
          </th>
          <th scope="col" jhiSortBy="bonusAmount">
            <div class="d-flex">
              <span jhiTranslate="bitsHrPayrollApp.festivalBonusDetails.bonusAmount">Bonus Amount</span>
              <!-- <fa-icon class="p-1" icon="sort"></fa-icon> -->
            </div>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <div class="d-flex">
              <span jhiTranslate="bitsHrPayrollApp.festivalBonusDetails.remarks">Remarks</span>
              <!-- <fa-icon class="p-1" icon="sort"></fa-icon> -->
            </div>
          </th>
          <th scope="col" jhiSortBy="isHold">
            <div class="d-flex">
              <span jhiTranslate="bitsHrPayrollApp.festivalBonusDetails.isHold">Is Hold</span>
              <!-- <fa-icon class="p-1" icon="sort"></fa-icon> -->
            </div>
          </th>
          <th scope="col" jhiSortBy="basic">
            <div class="d-flex">
              <span jhiTranslate="bitsHrPayrollApp.festivalBonusDetails.basic">Basic</span>
              <!-- <fa-icon class="p-1" icon="sort"></fa-icon> -->
            </div>
          </th>
          <th scope="col" jhiSortBy="gross">
            <div class="d-flex">
              <span jhiTranslate="bitsHrPayrollApp.festivalBonusDetails.gross">Gross</span>
              <!-- <fa-icon class="p-1" icon="sort"></fa-icon> -->
            </div>
          </th>
          <th scope="col" jhiSortBy="employee.id">
            <div class="d-flex">
              <span jhiTranslate="bitsHrPayrollApp.festivalBonusDetails.employee">Employee</span>
              <!-- <fa-icon class="p-1" icon="sort"></fa-icon> -->
            </div>
          </th>
          <th scope="col" jhiSortBy="festival.id">
            <div class="d-flex">
              <span jhiTranslate="bitsHrPayrollApp.festivalBonusDetails.festival">Festival</span>
              <!-- <fa-icon class="p-1" icon="sort"></fa-icon> -->
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let festivalBonusDetails of festivalBonusDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/festival-bonus-details', festivalBonusDetails.id, 'view']">{{ festivalBonusDetails.id }}</a>
          </td>
          <td>{{ festivalBonusDetails.bonusAmount }}</td>
          <td>{{ festivalBonusDetails.remarks }}</td>
          <td>{{ festivalBonusDetails.isHold }}</td>
          <td>{{ festivalBonusDetails.basic }}</td>
          <td>{{ festivalBonusDetails.gross }}</td>
          <td>
            <div *ngIf="festivalBonusDetails.employee">
              <a [routerLink]="['/employee', festivalBonusDetails.employee.id, 'view']">{{ festivalBonusDetails.employee.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="festivalBonusDetails.festival">
              <a [routerLink]="['/festival', festivalBonusDetails.festival.id, 'view']">{{ festivalBonusDetails.festival.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/festival-bonus-details', festivalBonusDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/festival-bonus-details', festivalBonusDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(festivalBonusDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="festivalBonusDetails && festivalBonusDetails.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
