<div class="modal-header border-none pb-0">
  <h4 class="modal-title" id="modal-basic-title"></h4>
  <button type="button" class="close outline-none" aria-label="Close" (click)="cancel()">&times;</button>
</div>

<div class="modal-body pt-0">
  <div class="font-sm" *ngIf="flexScheduleApplication">
    <table class="table table-borderless border-none">
      <tr>
        <th><span>Effective</span></th>
        <td>
          <span
            >{{ flexScheduleApplication.effectiveFrom | formatMediumDate }} -
            {{ flexScheduleApplication.effectiveTo | formatMediumDate }}</span
          >
        </td>

        <th><span>Flex Time</span></th>
        <td>
          <span>
            {{ flexScheduleApplication.inTime | formatMediumDatetime }}
            -
            {{ flexScheduleApplication.outTime | formatMediumDatetime }}
          </span>
        </td>
      </tr>

      <tr>
        <th><span>Duration</span></th>
        <td>
          <span>{{ flexScheduleApplication.durationAsDays }}</span>
        </td>

        <th><span jhiTranslate="bitsHrPayrollApp.flexScheduleApplication.appliedAt">Applied At</span></th>
        <td>
          <span>{{ flexScheduleApplication.appliedAt | formatMediumDate }}</span>
        </td>
      </tr>

      <tr *ngIf="modalType && modalType === 'approvedByMe'">
        <th><span jhiTranslate="bitsHrPayrollApp.flexScheduleApplication.sanctionedAt">Sanctioned At</span></th>
        <td colspan="3">
          <span>{{ flexScheduleApplication.sanctionedAt | formatMediumDate }}</span>
        </td>
      </tr>

      <tr>
        <th><span jhiTranslate="bitsHrPayrollApp.flexScheduleApplication.reason">Reason</span></th>

        <td colspan="3">
          <span>{{ flexScheduleApplication.reason }}</span>
        </td>
      </tr>
    </table>
  </div>
</div>
