.timeline-horizontal li {
  list-style: none;
  float: left;
  width: 10%;
  position: relative;
  text-align: center;
}

ul:nth-child(1) {
  color: #293b5f;
}

.timeline-horizontal li:before {
  content: '';
  width: 10px;
  height: 10px;
  border: 3px solid #293b5f;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 50px;
  margin: 0 auto 10px auto;
  background: white;
  color: black;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.timeline-horizontal li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: grey;
  top: 7px;
  left: -50%;
  z-index: -999;
  transition: all ease-in-out 0.3s;
}

.timeline-horizontal li:first-child:after {
  content: none;
}
