<div>
  <jhi-header
    [addButtonText]="'add new Nationalities'"
    [headerName]="'Nationalities'"
    [routerLinkText]="'/nationality/new'"
    [shouldHaveHr]="false"
  >
  </jhi-header>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="nationalities?.length === 0">
    <span jhiTranslate="bitsHrPayrollApp.nationality.home.notFound">No Nationalities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="nationalities && nationalities.length > 0">
    <table class="table table-hover list-text-color" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="nationalityName">
            <div class="d-flex">
              <span jhiTranslate="bitsHrPayrollApp.nationality.nationalityName">Nationality Name</span>
            </div>
          </th>
          <th scope="col" class="text-end">
            <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
              <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
              <span jhiTranslate="bitsHrPayrollApp.nationality.home.refreshListLabel">Refresh list</span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let nationality of nationalities; trackBy: trackId" data-cy="entityTable">
          <td>{{ nationality.nationalityName }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/nationality', nationality.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/nationality', nationality.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(nationality)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
